# ===========================
# Virtual Environment
# ===========================
pth/
.venv/
venv/

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# Streamlit
# ===========================
.streamlit/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# React
# ===========================
frontend/

# ===========================
# Trained Models
# ===========================
models/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Operating System Files
# ===========================
.DS_Store
Thumbs.db
Desktop.ini

# ===========================
# Dataset
# ===========================
datas/F_N_R_N.csv